# https://pnpm.io/zh/npmrc
# node-linker = hoisted
shamefully-hoist=true
hoist=true
link-workspace-packages = true
save-workspace-protocol = false
strict-peer-dependencies = false
# auto-install-peers = true
# registry=xxx/
# //192.168.1.30:4873/:_authToken="OsCMSvBhPAnLApei1FqNtQ=="
# //192.168.1.30:4873/:_auth="ZHVvbWFpOjEyMzQ1Ng=="
# email=Bert@xxx.com
# always-auth=true
